<div class="group-list">
    <table class="table table-condensed table-hover table-striped">
        <thead>
            <tr>
                <td translate>#</td>
                <td>
                    <span class="group-list__name-head">
                        <span ng-click="$ctrl.sort('name')" translate>
                            Group name
                        </span>
                        <span class="glyphicon"
                              ng-class="{
                                'glyphicon-triangle-bottom': $ctrl.sortState.order === 'inc',
                                'glyphicon-triangle-top': $ctrl.sortState.order === 'dec'
                              }"></span>
                        </span>
                </td>
                <td translate>
                    Scheduled for
                </td>
                <td translate>
                    Attendance
                </td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="g in $ctrl.groups">
                <td>
                    {{$index+1}}
                </td>
                <td>
                    <a href="/groups/{{g._id}}">{{g.groupName}}</a>
                </td>
                <td>
                    {{g.scheduled | date | notApplicable}}
                </td>
                <td>
                    {{g.attendance | notApplicable}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
