<div class="group-list">
    <div>
        <button class="btn btn-default" translate
                ng-click="$ctrl.groupAdd()">
            Create new
        </button>
    </div>
    <div class="group-list__row">
        <span translate>Search a testee:</span>
        <input type="text" ng-model="$ctrl.qs"
               class="form-control group-list__search-input">
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <td translate>#</td>
                <td>
                    <span class="group-list__name-thead">
                        <span ng-click="$ctrl.sort('name')" translate>
                            Group name
                        </span>
                        <span class="glyphicon"
                              ng-class="{
                                'glyphicon-triangle-bottom': $ctrl.sortState.order === 'inc',
                                'glyphicon-triangle-top': $ctrl.sortState.order === 'dec'
                              }"></span>
                        </span>
                </td>
                <td translate>
                    Testees count
                </td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="g in $ctrl.groups | filter: $ctrl.qs: $ctrl.studentsFilter">
                <td>
                    {{$index+1}}
                </td>
                <td>
                    <a href="/groups/{{g._id}}">{{g.groupName | notApplicable}}</a>
                </td>
                <td>
                    {{ g.students.length }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
