<div class="group-modify">
    <div>
        <div ng-if="$ctrl.notFound" class="has-error">
            <label translate class="control-label">
                Group not found!
            </label>
        </div>
    </div>
    <div ng-if="!$ctrl.notFound">
        <div class="group-modify__row">
            <label translate class="control-label text-left">Group name:</label>
            <input type="text" name="groupName"
                   ng-model="$ctrl.group.groupName"
                   class="form-control">
        </div>
        <div class="group-modify__row">
            <label class="control-label" translate>
                Testees total:
            </label>
            <div class="group-modify__total">
                {{$ctrl.group.students.length || 0}}
            </div>
        </div>
        <div class="group-modify__row">
            <button ng-click="$ctrl.studentAdd()"
                    class="btn btn-default"
                    translate>
                Add a testee
            </button>
            <button ng-click="$ctrl.textareaShowHide()"
                    class="btn btn-default"
                    translate>
                Mass input
            </button>
        </div>
        <div class="group-modify__row" ng-if="$ctrl.textareaIsVisible">
            <span class="glyphicon glyphicon-info-sign"></span>
            <span translate>Enter a list of testees separated by new line:</span>
        </div>
        <div class="group-modify__row" ng-if="$ctrl.textareaIsVisible">
            <textarea ng-model="$ctrl.studentsRawList" rows="5"
                      class="form-control">
            </textarea>
        </div>
        <div class="group-modify__row" ng-if="$ctrl.textareaIsVisible">
            <button ng-click="$ctrl.massStudentsAdd()"
                    ng-disabled="!$ctrl.studentsRawList"
                    class="btn btn-default"
                    translate
                    translate-n="$ctrl.studentsRawListCount()"
                    translate-plural="Add {{$ctrl.studentsRawListCount() || ''}} testees">
                Add testee
            </button>
        </div>
        <div ng-repeat="s in $ctrl.group.students" class="group-modify__row">
            <student-info student="s"
                          index="{{$index + 1}}"
                          on-delete="$ctrl.studentDelete(s)">
            </student-info>
        </div>
        <div class="group-modify__row">
            <button class="btn btn-default" translate
                    ng-click="$ctrl.changesSave()">
                Save group
            </button>
        </div>
        <div class="group-modify__row">
            <div class="message message_hidden"
                 ng-class="{
                    'message_hidden': $ctrl.message.hidden,
                    'bg-danger': $ctrl.message.error,
                    'bg-success': !$ctrl.message.error
                 }"
                 ng-bind="$ctrl.message.text">
            </div>
        </div>
    </div>
</div>
