<div class="group-modify">
    <div>
        <div ng-if="$ctrl.notFound" class="has-error">
            <label translate class="control-label">
                Group not found!
            </label>
        </div>
    </div>
    <form ng-if="!$ctrl.notFound" name="$ctrl.form" novalidate>
        <div class="group-modify__row">
            <label translate class="control-label">Group name:</label>
            <input type="text" name="groupName"
                   ng-model="$ctrl.group.groupName"
                   class="form-control">
        </div>
        <div class="group-modify__row" ng-class="{
            'has-error': $ctrl.hasError()
        }">
            <label translate class="control-label">Group number:</label>
            <input type="number" min="0" name="index"
                   ng-model="$ctrl.group.index"
                   class="form-control">
        </div>
        <div class="group-modify__row has-error" ng-if="$ctrl.hasError()">
            <label class="control-label" translate>
                Group number is wrong
            </label>
        </div>

        <div class="group-modify__row">
            <label translate class="control-label">Education form:</label>
            <select ng-model="$ctrl.group.idEduForm" class="form-control">
                <option ng-repeat="f in $ctrl.eduForms" ng-value="f._id">
                    {{ f.name | notApplicable }}
                </option>
            </select>
        </div>
        <div class="group-modify__row">
            <label translate class="control-label">Specialty:</label>
            <select ng-model="$ctrl.group.idSpecialty" class="form-control">
                <option ng-repeat="s in $ctrl.specialties" ng-value="s._id">
                    {{ s.name | notApplicable }}
                </option>
            </select>
        </div>

        <div class="group-modify__row">
            <span class="glyphicon glyphicon-info-sign"></span>
            <span translate>Click on a row to edit or remove</span>
        </div>
        <div class="group-modify__row">
            <label class="control-label" translate>
                Testees total:
            </label>
            <div class="group-modify__total">
                {{$ctrl.group.students.length || 0}}
            </div>
        </div>
        <div class="group-modify__row">
            <button ng-click="$ctrl.studentAdd()"
                    class="btn btn-default"
                    translate>
                Add a testee
            </button>
            <button ng-click="$ctrl.textareaShowHide()"
                    class="btn btn-default"
                    translate>
                Mass input
            </button>
        </div>
        <div class="group-modify__row" ng-if="$ctrl.textareaIsVisible">
            <span class="glyphicon glyphicon-info-sign"></span>
            <span translate>Enter a list of testees separated by new line:</span>
        </div>
        <div class="group-modify__row" ng-if="$ctrl.textareaIsVisible">
            <textarea ng-model="$ctrl.studentsRawList" rows="5"
                      class="form-control">
            </textarea>
        </div>
        <div class="group-modify__row" ng-if="$ctrl.textareaIsVisible">
            <button ng-click="$ctrl.massStudentsAdd()"
                    ng-disabled="!$ctrl.studentsRawList"
                    class="btn btn-default"
                    translate
                    translate-n="$ctrl.studentsRawListCount()"
                    translate-plural="Add {{$ctrl.studentsRawListCount() || ''}} testees">
                Add testee
            </button>
        </div>
        <div ng-repeat="s in $ctrl.group.students" class="group-modify__row">
            <student-info student="s"
                          index="{{$index + 1}}"
                          on-delete="$ctrl.studentDelete(s)">
            </student-info>
        </div>
        <div class="group-modify__row">
            <button class="btn btn-default" translate
                    ng-click="$ctrl.changesSave()"
                    ng-disabled="$ctrl.form.$invalid">
                Save group
            </button>
        </div>
    </form>
</div>
