<div ng-class="{ 'even': ctrl.index % 2 === 0 }"
     class="student-info row">
    <div class="col-md-10">
        <div class="index">
            {{ctrl.index + '.'}}
        </div>
        <div class="name" ng-click="ctrl.editorOpen()">
            {{ctrl.studentFullName()}}
        </div>
    </div>
    <div class="col-md-2">
        <button class="btn btn-default"
                ng-click="ctrl.editorOpen()"
                title="{{ 'Edit student' | translate }}"
                translate>
            Edit
        </button>
        <button class="btn btn-default"
                ng-click="ctrl.studentDelete()"
                title="{{ 'Remove student' | translate }}"
                translate>
            -
        </button>
    </div>
</div>
