<div class="backup-ls__row">
    <button class="btn btn-default" ng-click="$ctrl.newBackupCreate()">
        Create new backup
    </button>
    <button class="btn btn-default" ng-click="$ctrl.restore()"
            ng-disabled="$ctrl.checkedCount() !== 1">
        Restore
    </button>
</div>

<div>
    <span translate>
        List of available backups:
    </span>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <td></td>
            <td translate>
                Backup creation date
            </td>
            <td translate>
                Size
            </td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="b in $ctrl.backups"
            ng-click="$ctrl.backupCheck($event, b)">
            <td class="backup-ls__checkbox-cell">
                <div class="checkbox-inline">
                    <input type="checkbox" ng-model="b.checked"
                           ng-click="$ctrl.backupCheck($event)">&nbsp;
                </div>
            </td>
            <td>
                {{ b.date }}
            </td>
            <td>
                {{ b.size }}
            </td>
        </tr>
    </tbody>
</table>

<div ng-bind="$ctrl.message.text"
     class="message message_hidden"
     ng-class="{
            'message_hidden': $ctrl.message.hidden,
            'bg-danger': $ctrl.message.error,
            'bg-success': !$ctrl.message.error
         }">
</div>
