<div>
    <div>
        <button class="btn btn-default"
                ng-click="$ctrl.wsConnect()">
            Click here to connect to WebSocket server
        </button>
    </div>
    <p>
        <label translate>Testing list:</label>
    </p>
    <table class="table">
        <tbody>
        <tr ng-repeat="testing in $ctrl.testings | orderBy: ['idGroup.index', 'scheduledFor']">
            <td>
                <a ng-href="/test-passing/{{testing._id}}" class="home__testing-link">
                    <span ng-if="testing.idGroup">
                        <span>
                            {{testing.scheduledFor | date: 'HH:mm'}}
                        </span>
                        <span ng-if="testing.idGroup.index" translate>
                            Group #{{testing.idGroup.index}},
                        </span>
                        <span>
                            {{testing.idGroup.groupName | notApplicable}}
                        </span>
                    </span>
                    <span ng-if="!testing.idGroup">
                        {{ testing.idQuestionSet.name }}
                    </span>
                </a>
            </td>
            <td ng-if="$ctrl.isLoggedIn()">
                <a ng-href="/test-results/{{testing._id}}"
                   class="home__testing-link"
                   ng-if="$ctrl.isPassed(testing)"
                   translate>
                    Results
                </a>
                <!--TODO: replace link outside 'isInProgress' condition-->
                <span ng-if="$ctrl.isInProgress(testing)">
                    <a ng-href="/test-progress/{{testing._id}}"
                       class="home__testing-link"
                       translate>
                        Progress:
                    </a>
                    <span>
                        {{ $ctrl.progress(testing) + '%'}}
                    </span>
                </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
