<div class="question-set-list">
    <div>
        <button class="btn btn-default question-set-list__add" translate
                ng-click="$ctrl.setAdd()">
            Create new
        </button>
    </div>
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <td translate>#</td>
            <td>
                    <span class="question-set-list__name-thead">
                        <span ng-click="$ctrl.sort('name')" translate>
                            Question set name
                        </span>
                        <span class="glyphicon"
                              ng-class="{
                                'glyphicon-triangle-bottom': $ctrl.sortState.order === 'inc',
                                'glyphicon-triangle-top': $ctrl.sortState.order === 'dec'
                              }"></span>
                        </span>
            </td>
            <td translate>
                Questions count
            </td>
            <td translate>
                Pass count
            </td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="s in $ctrl.questionSets">
            <td>
                {{$index+1}}
            </td>
            <td>
                <a href="/question-sets/{{s._id}}">{{s.name | notApplicable}}</a>
            </td>
            <td>
                {{s.questionsCount}}
            </td>
            <td>
                {{s.passCount | notApplicable}}
            </td>
        </tr>
        </tbody>
    </table>
</div>
