<div class="question-set-list">
    <div>
        <button class="btn btn-default">
            <a class="question-set-list__new"
               ng-href="/question-sets/new" translate>Create new</a>
        </button>
        <button class="btn btn-default"
                ng-click="$ctrl.edit()"
                ng-disabled="$ctrl.checkedCount() !== 1"
                translate>
            Edit
        </button>
        <button class="btn btn-default"
                ng-click="$ctrl.delete()"
                ng-disabled="!$ctrl.checkedCount()"
                translate>
            Delete
        </button>

        <div class="question-set-list__import-block">
            <label class="btn btn-default">
                <span translate>Import...</span>
                <input type="file" class="question-set-list__import-input"
                       resource-upload="questionSet"
                       data-resource-redirect="true">
            </label>
            <button class="btn btn-default" translate
                    ng-click="$ctrl.templateDownload()" >
                Download template
            </button>
        </div>
    </div>
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <td class="question-set-list__checkbox-cell">
                <div class="checkbox-inline">
                    <input type="checkbox" ng-model="$ctrl.allChecked">&nbsp;
                </div>
            </td>
            <td translate>#</td>
            <td>
                <span class="question-set-list__name-thead">
                <span ng-click="$ctrl.sort('name')" translate>
                    Question set name
                </span>
                <span class="glyphicon"
                      ng-class="{
                        'glyphicon-triangle-bottom': $ctrl.sortState.order === 'inc',
                        'glyphicon-triangle-top': $ctrl.sortState.order === 'dec'
                      }"></span>
                </span>
            </td>
            <td translate>
                Questions count
            </td>
            <td translate>
                Use count
            </td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="s in $ctrl.questionSets" ng-click="$ctrl.setCheck($event, s)">
            <td>
                <div class="checkbox-inline">
                    <input type="checkbox" ng-model="s.checked"
                           ng-click="$ctrl.setCheck($event)">&nbsp;
                </div>
            </td>
            <td>
                {{$index+1}}
            </td>
            <td>
                <span class="question-set-list__link"
                      ng-click="$ctrl.setOpen($event, s._id)">
                    {{s.name | notApplicable}}
                </span>
            </td>
            <td>
                {{s.questions.length}}
            </td>
            <td>
                {{$ctrl.useCount[s._id] || 0}}
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="message message_hidden"
     ng-class="{
                'message_hidden': $ctrl.message.hidden,
                'bg-danger': $ctrl.message.error,
                'bg-success': !$ctrl.message.error
             }"
     ng-bind="$ctrl.message.text">
</div>
