<form class="q-modify" name="$ctrl.qForm" novalidate>
    <label class="control-label" translate>
        Type
    </label>
    <select class="form-control"
            ng-model="$ctrl.question.qType"
            name="qType"
            required>
        <option ng-repeat="qType in $ctrl.qTypes" value="{{qType.value}}">
            {{qType.name}}
        </option>
    </select>
    <div ng-class="{ 'has-error': $ctrl.hasError($ctrl.qForm.qText)} ">
        <label class="control-label" translate>
            Question text
        </label>
        <input type="text" class="form-control"
               ng-model="$ctrl.question.text"
               name="qText"
               required>
        <label class="control-label" translate
               ng-show=" $ctrl.hasError($ctrl.qForm.qText) ">
            Field is required.
        </label>
    </div>
    <label class="control-label" translate>
        Theme
    </label>
    <input type="text" class="form-control"
           ng-model="$ctrl.question.theme"
           name="qTheme">
    <div class="q-modify__row">
        <label class="control-label" translate>
            Answers total:
        </label>
        <div class="q-modify__total">
            {{$ctrl.question.answers.length || 0}}
        </div>
        <button class="btn btn-default q-modify__add"
                ng-click="$ctrl.answerAdd()"
                translate>
            Add answer
        </button>
    </div>
    <div ng-show="$ctrl.question.answers.length > 1" class="q-modify__row">
        <span class="glyphicon glyphicon-info-sign"></span>
        <span translate>Select correct answer(s):</span>
    </div>
    <!--<div ng-show="$ctrl.question.answers.length < 2" class="q-modify__row">-->
        <!--<span class="glyphicon glyphicon-info-sign"></span>-->
        <!--<span translate>Add two or more answers to the question:</span>-->
    <!--</div>-->
    <div ng-repeat="a in $ctrl.question.answers" class="q-modify__row"
         ng-class="{
            'has-error': $ctrl.hasError($ctrl.qForm['answerText' + $index])
         }">
        <div class="q-modify__answer-block">
            <div class="checkbox-inline">
                <label>
                    <input type="checkbox" name="weight{{$index}}"
                           ng-required="!$ctrl.anyAnswerIsSelected()"
                           ng-model="a.weight"
                           ng-true-value="1"
                           ng-false-value="0">

                </label>
            </div>
            <input type="text" class="form-control q-modify__answer"
                   ng-model="a.text"
                   placeholder="{{ 'Answer text' | translate }}"
                   name="answerText{{$index}}"
                   required>
            <button class="btn btn-default q-modify__remove"
                    ng-click="$ctrl.answerRemove(a)"
                    ng-disabled="$ctrl.question.answers.length < 3"
                    title="{{'Remove answer' | translate}}">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
        <div>
            <label class="control-label" translate
                   ng-show=" $ctrl.hasError($ctrl.qForm['answerText' + $index]) ">
                Field is required.
            </label>
        </div>
    </div>
    <div ng-class="{
        'has-error': $ctrl.hasError($ctrl.qForm['weight0'])
    }">
        <label class="control-label" translate
               ng-show=" $ctrl.hasError($ctrl.qForm['weight0']) ">
            Correct answer is required.
        </label>
    </div>
    <div class="q-modify__row">
        <button class="btn btn-default" translate
                ng-click="$ctrl.onClose()">
            Close
        </button>
        <button class="btn btn-default" translate
                ng-click="$ctrl.questionSave()">
            Save question changes
        </button>
    </div>
    <hr>
</form>
