/* bootstrap resets */
/*TODO: update & compile bootstrap-3 less files? */
.form-group {
    margin-bottom: 5px;
}

.btn {
    padding: 2px 8px;
}

/*app styles*/
.content {
    margin-top: 10px;
}


.group-modify__row {
    margin-bottom: 5px;
}

.group-modify__total {
    display: inline-block;
    min-width: 4em;
    padding-left: 0.5em;
    line-height: 28px;
}

.group-modify__message {
    padding: 15px 30px;
    margin: 0 -15px;
    transition: opacity linear 0.5s;
}

.group-modify__message_hidden {
    opacity: 0;
}

.group-modify__add {
    float: right;
}


.student-info {
    margin: -5px 0 0;
    border-bottom: 1px solid #EBEBEB;
    padding: 6px 0;
}

.student-info_even {
    background-color: #F9F9F9;
}

.student-info__edit,
.student-info__remove {
    display: none;
    float: right;
}

.student-info:hover .student-info__edit,
.student-info:hover .student-info__remove {
    display: inline;
}

.student-info__remove {
    margin-left: 10px;
}

.student-info__index,
.student-info__name {
    display: inline-block;
    line-height: 28px;
}

.student-info__index {
    min-width: 40px;
    padding-left: 10px;
}


.student-modify {
    margin-bottom: 15px;
}


.group-list__index,
.group-list__name {
    display: inline-block;
}

.group-list__index {
    min-width: 30px;
}

/*TODO: LESS/SAAS? mixins*/
.group-list__row {
    border-bottom: 1px solid #EBEBEB;
    padding: 6px 0;
}

.group-list__row_even {
    background-color: #F9F9F9;
}

.group-list__name-thead {
    cursor: pointer;
}

.group-list__add {
    float: right;
}
