/* bootstrap resets */
/*TODO: update & compile bootstrap-3 less files? */
.form-group {
    margin-bottom: 5px;
}

.btn {
    padding: 2px 8px;
}


.group-modify__row {
    margin-bottom: 5px;
}

.group-modify__message {
    padding: 15px 30px;
    margin: 0 -15px;
    transition: opacity linear 0.5s;
}

.group-modify__message_hidden {
    opacity: 0;
}

.group-modify__message_error {
    background-color: #f2dede;
}

.group-modify__message_success {
    background-color: #dff0d8;
}

/* app css */
.student-modify {
    margin-left: 20px;
}

.student-info-container {
    padding-left: 30px;
    padding-right: 30px;
}

.student-info {
    margin-top: -10px;
    border-bottom: 1px solid #EBEBEB;
    padding: 6px 0;
}

.student-info:hover .btn {
    display: inline;
}

.student-info .btn {
    display: none;
}

.student-info.js-even {
    background-color: #F9F9F9;
}

.student-info .index,
.student-info .name {
    display: inline-block;
    line-height: 28px;
}

.student-info .index {
    min-width: 30px;
}

 /*TODO: LESS/SAAS? mixins*/

.group-list .index,
.group-list .name {
    display: inline-block;
}

.group-row {
    border-bottom: 1px solid #EBEBEB;
    padding: 6px 0;
}

.group-row.js-even {
    background-color: #F9F9F9;
}

.group-row .index {
    min-width: 30px;
}
