/* bootstrap resets */
/*TODO: update & compile bootstrap-3 less files? */
.form-group {
    margin-bottom: 5px;
}

.btn {
    padding: 2px 8px;
}

/*app styles*/
.header {
    background-color: #006666;
    height: 70px;
}


.logo {
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.6);
    cursor: default;
    display: inline-block;
    font-size: 2em;
    height: 70px;
    padding: 17px 5px 0;
}

.header__logo {
    float: left;
    border-right: 1px dashed rgba(255, 255, 255, 0.6);
}


.log-in {
    font-size: 2em;
    padding: 17px;
    color: rgba(255, 255, 255, 0.8);
    transition: all 0.5s;
}

.log-in:hover {
    color: rgba(255, 255, 255, 1);
}


.header__log-in {
    float: right;
}


.lang-switcher {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.2em;
    padding: 25px 10px;
}

.lang-switcher__item {
    display: inline-block;
    margin-left: 20px;
    text-transform: uppercase;
    transition: all 0.5s;
    cursor: default;
}

.lang-switcher__item:hover {
    color: rgba(255, 255, 255, 1);
}

.lang-switcher__item-current {
    cursor: inherit;
}


.header__lang {
    float: right;
}


@media all and (max-width: 780px) {
    .header {
        height: 56px;
    }

    .logo {
        height: 56px;
        padding-top: 10px;
    }

    .log-in {
        padding-top: 10px;
    }

    .lang-switcher {
        padding-top: 17px;
    }
}

.content {
    margin-top: 10px;
}


.group-modify__row {
    margin-bottom: 5px;
}

.group-modify__total {
    display: inline-block;
    min-width: 4em;
    padding-left: 0.5em;
    line-height: 28px;
}

.group-modify__message {
    padding: 15px 30px;
    margin: 0 -15px;
    transition: opacity linear 0.5s;
}

.group-modify__message_hidden {
    opacity: 0;
}

.group-modify__add {
    float: right;
}


.student-info {
    margin: -5px 0 0;
    border-bottom: 1px solid #EBEBEB;
    padding: 6px 0;
}

.student-info_even {
    background-color: #F9F9F9;
}

.student-info__edit,
.student-info__remove {
    display: none;
    float: right;
}

.student-info:hover .student-info__edit,
.student-info:hover .student-info__remove {
    display: inline;
}

.student-info__remove {
    margin-left: 10px;
}

.student-info__index,
.student-info__name {
    display: inline-block;
    line-height: 28px;
}

.student-info__index {
    min-width: 40px;
    padding-left: 10px;
}


.student-modify {
    margin-bottom: 15px;
}


.group-list__index,
.group-list__name {
    display: inline-block;
}

.group-list__index {
    min-width: 30px;
}

/*TODO: LESS/SAAS? mixins*/
.group-list__row {
    border-bottom: 1px solid #EBEBEB;
    padding: 6px 0;
}

.group-list__row_even {
    background-color: #F9F9F9;
}

.group-list__name-thead {
    cursor: pointer;
}

.group-list__add {
    float: right;
}
